/* 4 external css */
/*padding-bottom faz com que eu consiga rolar a tella mais para baixo fazendo com que eu consiga 
cetralizar na tela o que eu quero , ou seja adiciona a barra de rolagem  */
body {
    padding-bottom: 900px;
}

h1 {
    color: red  ;
    font-size: 50px;

}
 
/* p {
    color: royalblue;
} */

/*Usando classses*/
.paragrafo{
    color: red;
    background-color: yellow;
    border-bottom: 1px solid blue;
    padding: 5px;
}


/*Usando ID */
#exclusive-title {
    color: blue;
    font-size: 30px;
    border: aqua;
   padding: 10px;
    background-color: bisque;
}

h2 {
    border: black;
    padding: 10px;
    color: red;
    background-color: blueviolet;
}

.titulo {
    color: brown;
    background-color: yellow;
    font-size: 45px;
    border-bottom: 1px solid blue;

}

#algum-titulo {
    color: darkblue;
    font-size: 50px;
    background-color: rgb(221, 129, 129);
    border: 1px solid black;
}

/*Nome de cores
a cor foi feita atráves de nome e utilizando uma diferença na tonalidade a partir de um layout do vscode*/

.color-name {
    color: rgb(135, 56, 56);
}

/*Hex/Hexadecimal
padrão mais utilizado hoje 000 para dizer qual cor seria e fff letra para descrever a claridade da cor */

.hex {
    color: #55a398;

}

.hex-2 {
    color: #06581d;
}

/*Aprofundando em hex*/

.simple-hex {
    color: #333;
    }

.simple-hex-2 {
    color: #ae5;
}

/*Colocando as cores com rgb*/
/*As cores de rgb se configuram atrás de 1 red- 2 green- 3 blue ( as cores seguem essa ordem que coloquei)
e você utiliza um numero de 0 a 255 de cada com como uma mistura, 0 sendo a cor fraca 
e 255 ela com maiss intensidade e de acordo com a intensidade tera uma cor variada*/

.rgb {
    color: rgb(0, 255, 0);
}

.mixed-rgb {
    color: rgb(245, 198, 100);
}

/*Escolhendo a cor com o RGBA
a diferença para o rgba é que o ultimo numero, muda quão opaca a letra fica por exemplo, 0 ela some por em 1 a cor fica intensa 
e essa medida vai se 0 até 0.1,0.2,0.3... até 1*/

.rgba {
    color: rgba(222, 111, 159, 0.5);
}


/*HSL*/

.hsl {
    color: hsl(98, 10%, 6%);
}

.hsl2 {
    color: hsl(80,  45%, 40%);
}

/*Backgound color*/

.bg {
    color: #000;
    background-color: red;

}

.bg2 {
    color: rgb(150, 50, 100);
    background-color: #445563;
    font-size: 46px;
}

/*Mundando a opacidade do background, a dois jeito com o comando '' opacity''
porem ele deixa o texta e o backgound opacos, por outro lado se fazer quiser apaenas mudar a opacidade
do fundo pode colocar a cor do fundo com o rgba, pois ele pode mudar a opacidade da cor escolhida
 alterando apenas a cor do fundo */

.opacity {
    background-color: #1272c1;
    opacity: 1;

}

.opacity2 {
    background-color: #666;
    color: black;
    font-size: 45px;
    opacity: 0.7;

}

.rgba-opacity {
    color: #000;
    background-color: rgba(155, 45, 155, 0.2);
}

/*Incluindo imagem no backgorund e deixando o texto */

.bg-img {
    background-image: url("../Css/img/vialactea1.jpeg");
    color: #666;
    padding: 10px;
}

.bg-img2 {
    background-image: url("../Css/img/vialactea1.jpeg");
    color: #fffefe;
    
}
/*
<!--21 Centralizando a imagem no backgound -->*/

.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../Css/img/moon.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;

}

/*height (altura ) and Width (largura*/

.height-width {
    height: 200px;
    width: 100px;   
    background-color: #444;
}

.height-width-2 {
    height: 300px;
    background-color: #666;

}
/*Criando regra com e sem padding*/

.without-padding {
    background-color: #bc2f2f;
    color: #000;
}

.padding {
    padding: 20px;
    background-color: yellow;
}

/*usando padding individuais*/

.paddings-diferentes {
    background-color: #444;
    color: aliceblue;
    padding-top: 5px;  /* parte Superior*/
    padding-left: 10px;  /*lado esquerdo*/
    padding-right: 20px;   /*lado direito*/
    padding-bottom: 10px;    /*Parte inferior*/

}
/*o shorthand fez a mesma coisa que o anterior porem ele fez tudo na mesma regra
sem precisar colocar um a um, padronizando tudo e reduzindo as linhas de codigo*/

.shothand-paddings {
    background-color: #555;
    padding: 12px 15px 25px 55px;
}

.shothand-paddings-2 {
    background-color: blue;
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px; -- ao fazer deste jeito que esta acima, o css ja 
    entende que quer fazer um padrão, como se estivesse
    colocando em ambas as laterais 10 px e em cima e em baixo 20 px em cada, ou seja você 
    coloca metade e ele ja entende que quer manter o padrão para ambas as direções */

}


/*usando o border box*/

.without-border-box {
    background-color: #555; 
    color: #111;
    width: 500px;
    padding: 40px;
}

.border-box {
    background-color: #666; 
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* bordas*/

.bordas {
    border: 5px solid #ae5;
    padding: 10px;
}

.bordas2 {

    padding: 15px;
    border: 10px dotted #444;
}

.border-left {
    border-left: #111 solid 15px ;
    background-color: red;
    padding: 25px;
}

.border-bottom {
    border-bottom: #aaa 15px solid ;
    background-color: #06581d;
    padding: 40px;
}


/*arrendondando as bordas, porem esse arredondamento pode ser tambem para cor de fundo*/
.rounded-p {
    border: 4px solid blue;
    background-color: #f74;
    padding: 15px;
    color: red;
    border-radius: 10px;
}

.rounded-p2 {
   
    background-color: #cc5;
    padding: 15px;
    color: violet;
    border-radius: 10px;
}

/*utiliizando a margem */

.margin {
    margin: 10px;
    background-color: rgb(40, 11, 158);

}

.margin-top {
    margin-top: 20px;
    background-color: #444;
    padding: 10px;

}
/*Neste tipo você coloca a margin de cada um dos lados*/

.margin-shorthand {
    background-color: #f4f;
    margin: 15px 10px 15px 5px;

}




.box-model {
    margin: 20px;
    border: 15px solid blue;
    border-radius: 10px;
    padding: 50px 50px;
    width: 50px;
    height: 150px;
}

/*alinhamento de texto*/

.alinhamento-right {
    text-align: right;
}

.texto_centralizado {
    text-align: center;
    border: 5px solid violet;
    width: 300px;
}

/* text decoration*/

.underline {
    text-decoration: underline;
}

.line-trough {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
    color: #1f1;
}

/*DEIXANDO O TEXTO MAIUSCULO E MINUSCULO COM LOWER E UPPER  */

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/*espaçamento entre as letras em si */

.letter-spacing {
    letter-spacing: 10px;
}

/*mudando a fonte das letras*/

.serif {
    font-family: Georgia;

}

.sans-serifi {
    font-family: helvetica;
}
.monospace {
    font-style: "Courier New";
}
.cursive {
    font-family: cursive;

}

.fantasy {
    font-family: fantasy;
}

/*Font style*/

.italic {
    font-style: italic;

}

.oblique {
    font-style: oblique;
}
/*font-weight - mudar a espessura da letra*/

.thin,
.bold,
.bolder {
    font-family: helvetica;
}

.thin {
font-weight: 100;
}

.bold {
font-weight: 800;
}

.bolder {
font-weight: 600;
}

/*FONT SIZE -- tamanho da fonte */

.small {
    font-size: 8px;
}

.big {
    font-size:  78px;
}

/*Display*/

.inline-box {
    width: 35px;
    height: 35px;
    background-color: #06581d;
    margin: 10px;
    display: inline-block;
}
.block {
    margin: 15px;
    background-color: #1272c1;
    display: block;
}

/*escondendo o elemento*/

.invisible {
    display: none;
}

/*Static*/

.static {
    position: static;
    color: #55a398;
    width: 100px;
    height: 100px;
    background-color: #06581d;
}
/*Um possivel problema do relativo é que ao você colocar em algum lugar, podem ter outros
 elementos e acabe atrapalhar a ver o que esta se passando na tela como se colocasse um em cima do outro*/
.relative {
    position: relative;
    color: #000aaa;
    width: 100px;
    height: 100px;
    background-color: #444fff;
    top: 20px;
    left: 20px;
}


.absolut {
    position: absolute;
    color: #666;
    width: 100px;
    height: 100px;
    background-color: #000 ;
   top: 2px;
   right: 2px;
    
}

/*Relative e Conteiner*/

.relative-conteigner{
     width: 300px;
     height: 300px;
    border: solid blue;
    margin-top: 25px;
    position: relative;
}

.absolut1,
.absolut2 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: wheat;
}

.absolut1 {
    top: 15px;
    left: 20px;
}

.absolut2 {
    bottom: 5px;
    right: 5px;
}

.fixed {
    width: 300px;
     height: 300px;
    border: solid green;
    margin-top: 25px;
    position: fixed;
    background-color: blue;
    top: 50px;
    right: 100px;
}

.stick{
    width: 30px;
     height: 30px;
    border: solid yellow;
    margin-top: 25px;
    position: sticky;
    background-color: rebeccapurple;
    top: 5px;
}

.absolut3,
.absolut4,
.absolut5 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #123;
}


.absolut3 {
    top:0px;
    left: 0px;
    background-color: #000;
    z-index: 3;
}
.absolut4 {
 top:10px;
    left: 10px;
    background-color: #1f1;
    
    z-index: 2;

}
.absolut5 {
 top:30px;
    left: 30px;
    background-color: burlywood;
    z-index: 1;
}