/* 4 external css */
/*padding-bottom faz com que eu consiga rolar a tella mais para baixo fazendo com que eu consiga 
cetralizar na tela o que eu quero , ou seja adiciona a barra de rolagem  */
body {
    padding-bottom: 900px;
}

h1 {
    color: red  ;
    font-size: 50px;

}
 
p {
    color: royalblue;
}

/*Usando classses*/
.paragrafo{
    color: red;
    background-color: yellow;
    border-bottom: 1px solid blue;
    padding: 5px;
}


/*Usando ID */
#exclusive-title {
    color: blue;
    font-size: 30px;
    border: aqua;
   padding: 10px;
    background-color: bisque;
}

h2 {
    border: black;
    padding: 10px;
    color: red;
    background-color: blueviolet;
}

.titulo {
    color: brown;
    background-color: yellow;
    font-size: 45px;
    border-bottom: 1px solid blue;

}

#algum-titulo {
    color: darkblue;
    font-size: 50px;
    background-color: rgb(221, 129, 129);
    border: 1px solid black;
}

/*Nome de cores
a cor foi feita atráves de nome e utilizando uma diferença na tonalidade a partir de um layout do vscode*/

.color-name {
    color: rgb(135, 56, 56);
}

/*Hex/Hexadecimal
padrão mais utilizado hoje 000 para dizer qual cor seria e fff letra para descrever a claridade da cor */

.hex {
    color: #55a398;

}

.hex-2 {
    color: #06581d;
}

/*Aprofundando em hex*/

.simple-hex {
    color: #333;
    }

.simple-hex-2 {
    color: #ae5;
}

/*Colocando as cores com rgb*/
/*As cores de rgb se configuram atrás de 1 red- 2 green- 3 blue ( as cores seguem essa ordem que coloquei)
e você utiliza um numero de 0 a 255 de cada com como uma mistura, 0 sendo a cor fraca 
e 255 ela com maiss intensidade e de acordo com a intensidade tera uma cor variada*/

.rgb {
    color: rgb(0, 255, 0);
}

.mixed-rgb {
    color: rgb(245, 198, 100);
}

/*Escolhendo a cor com o RGBA
a diferença para o rgba é que o ultimo numero, muda quão opaca a letra fica por exemplo, 0 ela some por em 1 a cor fica intensa 
e essa medida vai se 0 até 0.1,0.2,0.3... até 1*/

.rgba {
    color: rgba(222, 111, 159, 0.5);
}


/*HSL*/

.hsl {
    color: hsl(98, 10%, 6%);
}

.hsl2 {
    color: hsl(80,  45%, 40%);
}
