/* 4 external css */
/*padding-bottom faz com que eu consiga rolar a tella mais para baixo fazendo com que eu consiga 
cetralizar na tela o que eu quero , ou seja adiciona a barra de rolagem  */
body {
    padding-bottom: 900px;
}

h1 {
    color: red  ;
    font-size: 50px;

}
 
/* p {
    color: royalblue;
} */

/*Usando classses*/
.paragrafo{
    color: red;
    background-color: yellow;
    border-bottom: 1px solid blue;
    padding: 5px;
}


/*Usando ID */
#exclusive-title {
    color: blue;
    font-size: 30px;
    border: aqua;
   padding: 10px;
    background-color: bisque;
}

h2 {
    border: black;
    padding: 10px;
    color: red;
    background-color: blueviolet;
}

.titulo {
    color: brown;
    background-color: yellow;
    font-size: 45px;
    border-bottom: 1px solid blue;

}

#algum-titulo {
    color: darkblue;
    font-size: 50px;
    background-color: rgb(221, 129, 129);
    border: 1px solid black;
}

/*Nome de cores
a cor foi feita atráves de nome e utilizando uma diferença na tonalidade a partir de um layout do vscode*/

.color-name {
    color: rgb(135, 56, 56);
}

/*Hex/Hexadecimal
padrão mais utilizado hoje 000 para dizer qual cor seria e fff letra para descrever a claridade da cor */

.hex {
    color: #55a398;

}

.hex-2 {
    color: #06581d;
}

/*Aprofundando em hex*/

.simple-hex {
    color: #333;
    }

.simple-hex-2 {
    color: #ae5;
}

/*Colocando as cores com rgb*/
/*As cores de rgb se configuram atrás de 1 red- 2 green- 3 blue ( as cores seguem essa ordem que coloquei)
e você utiliza um numero de 0 a 255 de cada com como uma mistura, 0 sendo a cor fraca 
e 255 ela com maiss intensidade e de acordo com a intensidade tera uma cor variada*/

.rgb {
    color: rgb(0, 255, 0);
}

.mixed-rgb {
    color: rgb(245, 198, 100);
}

/*Escolhendo a cor com o RGBA
a diferença para o rgba é que o ultimo numero, muda quão opaca a letra fica por exemplo, 0 ela some por em 1 a cor fica intensa 
e essa medida vai se 0 até 0.1,0.2,0.3... até 1*/

.rgba {
    color: rgba(222, 111, 159, 0.5);
}


/*HSL*/

.hsl {
    color: hsl(98, 10%, 6%);
}

.hsl2 {
    color: hsl(80,  45%, 40%);
}

/*Backgound color*/

.bg {
    color: #000;
    background-color: red;

}

.bg2 {
    color: rgb(150, 50, 100);
    background-color: #445563;
    font-size: 46px;
}

/*Mundando a opacidade do background, a dois jeito com o comando '' opacity''
porem ele deixa o texta e o backgound opacos, por outro lado se fazer quiser apaenas mudar a opacidade
do fundo pode colocar a cor do fundo com o rgba, pois ele pode mudar a opacidade da cor escolhida
 alterando apenas a cor do fundo */

.opacity {
    background-color: #1272c1;
    opacity: 1;

}

.opacity2 {
    background-color: #666;
    color: black;
    font-size: 45px;
    opacity: 0.7;

}

.rgba-opacity {
    color: #000;
    background-color: rgba(155, 45, 155, 0.2);
}

/*Incluindo imagem no backgorund e deixando o texto */

.bg-img {
    background-image: url("../Css/img/vialactea1.jpeg");
    color: #666;
    padding: 10px;
}

.bg-img2 {
    background-image: url("../Css/img/vialactea1.jpeg");
    color: #fffefe;
    
}
/*
<!--21 Centralizando a imagem no backgound -->*/

.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../Css/img/moon.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;

}

/*height (altura ) and Width (largura*/

.height-width {
    height: 200px;
    width: 100px;   
    background-color: #444;
}

.height-width-2 {
    height: 300px;
    background-color: #666;

}
/*Criando regra com e sem padding*/

.without-padding {
    background-color: #bc2f2f;
    color: #000;
}

.padding {
    padding: 20px;
    background-color: yellow;
}

/*usando padding individuais*/

.paddings-diferentes {
    background-color: #444;
    color: aliceblue;
    padding-top: 5px;  /* parte Superior*/
    padding-left: 10px;  /*lado esquerdo*/
    padding-right: 20px;   /*lado direito*/
    padding-bottom: 10px;    /*Parte inferior*/

}
/*o shorthand fez a mesma coisa que o anterior porem ele fez tudo na mesma regra
sem precisar colocar um a um, padronizando tudo e reduzindo as linhas de codigo*/

.shothand-paddings {
    background-color: #555;
    padding: 12px 15px 25px 55px;
}

.shothand-paddings-2 {
    background-color: blue;
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px; -- ao fazer deste jeito que esta acima, o css ja 
    entende que quer fazer um padrão, como se estivesse
    colocando em ambas as laterais 10 px e em cima e em baixo 20 px em cada, ou seja você 
    coloca metade e ele ja entende que quer manter o padrão para ambas as direções */

}